$header-height: 4.5rem;
$body-color: #fafafb;

/*========== Colors ==========*/
$navbg-color: #f8f8f8;
$dropdown-bg-color: #fafafb;
$dropdown-hover-color: #ebebeb;
$dropdown-list-color: #f4f4f4;
$search-blue: #1c90f3;
$cont-gray: #e6e6e6;
$users-cont: #ededed;

/*========== Font and typography ==========*/
$black-fontd: #2c2c2c;
$blue: #1c90f3;
$gray-pass: #a2a2a2;

.headdocumento {
  width: 100%;
  max-width: 100%;
  height: auto;
  margin: auto;
  flex-wrap: wrap;
  display: flex;

  .tt-a {
    margin-top: 0.8rem;
    padding-left: 4%;
    width: 25%;
    height: auto;
    color: $black-fontd;
    font: 500 1rem "Poppins";
    align-items: center; // horizontal
    justify-content: start; // vertical
    display: flex;

    a {
      padding-right: 1.5rem;
    }
  }
}

.ppc {
  p {
    font: 400 1rem "Poppins";
    margin: 2% 0 0 3%;
  }
}
// DocumentoSplitView.scss

.split-container {
  display: flex; /* Alineamos los elementos hijos en un flex container */
  flex-direction: row; /* Aseguramos que los hijos estén en una fila (default, pero por si acaso) */
  width: 100%;
  height: 70vh; /* Toda la altura de la pantalla */
  margin-top: 1rem;
}

@media (min-height: 800px) {
  .split-container {
    height: 80vh;
  }
}

.left-panel {
  width: 40%; /* Panel izquierdo ocupa el 50% */
  transition: width 0.3s ease;
  padding: 15px 0 20px 20px;
  box-sizing: border-box; /* Incluimos padding en el ancho total */

  &.minimized {
    width: 0; /* Minimiza a 0 cuando se activa */
    padding: 0; /* Remueve el padding cuando está minimizado */
    overflow: hidden; /* Esconde el contenido */
  }
}

.pdf-panel {
  width: 100%; /* Panel derecho ocupa el 50% */
  transition: width 0.3s ease;
  box-sizing: border-box; /* Asegura que el padding no rompa el layout */

  span {
    font: 400 1rem "Poppins";
  }

  &.full-width {
    width: 100%; /* Expande al 100% cuando el panel izquierdo está minimizado */
  }
}

.pdf-viewer {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 20px;
}

.minimize-button {
  margin-top: 10px;
  padding: 10px;
  cursor: pointer;
  color: $blue;
}

.info-containerc {
  font: 400 1rem "Poppins";
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  width: auto;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 5px;
    border-radius: 10px;
  }

  h1 {
    font: 600 1rem "Poppins";
    line-height: 20px;
  }

  .identificador,
  .fecha-evaluacion {
    font: 500 0.8rem "Poppins";
    margin: 0;

    strong {
      color: $blue;
    }
  }

  .palabras-clave {
    font: 500 0.8rem "Poppins";
    margin-top: 10px;

    .palabra-clave-contenedor {
      display: flex;
      flex-wrap: wrap; // Permite que los elementos se ajusten en varias filas
      width: 95%;
      gap: 10px; // Espaciado entre cada palabra clave
      margin-top: 10px;
      font: 500 0.7rem "Poppins";

      .palabra-clave-item {
        flex: 1 1 45%; // Asegura que los elementos ocupen aproximadamente el 45% del ancho del contenedor
        margin: auto;
        background-color: $blue;
        border-radius: 20px;
        color: $cont-gray;
        padding: 5px 10px;
        text-align: center;
      }
    }
  }

  .academias-c {
    width: 95%;
    display: flex;
  
  
  form {
    padding-top: 15px;
    width: 100%;

    .enviar-bu{
      background-color: $blue;
      color: $body-color;
      padding: 5px 20px;
      border-radius: 20px;
      float: right;
      margin: 1rem 0 0 0;
    }
    label {
      font: 500 0.8rem "Poppins";
    }
    
    .cc-a{
      display: flex;
    }
    .input-groupa {
      display: flex;
      width: 100%;
      justify-content: center;

      input{
        border: none; /* Elimina el borde */
        outline: none;
        background-color: $cont-gray;
        border-radius: 10px 0 0 10px;
        font: 400 0.8rem "Poppins";
        padding: 0 10px;
        border: 1px solid #ccc;
        width: 100%;
      }

    }
  }
}
}

@media (min-height: 800px) {
  .info-containerc {
    height: 77vh;
  }
}

button {
  background-color: #fff;
}
