$header-height: 4.5rem;
$body-color: #FAFAFB;

/*========== Colors ==========*/
$navbg-color: #F8F8F8;
$dropdown-bg-color: #FAFAFB;
$dropdown-hover-color: #EBEBEB;
$dropdown-list-color: #F4F4F4;
$search-blue: #1C90F3;
$cont-gray: #E6E6E6;
$users-cont:#EDEDED;
$cont-gray2: #E1E1E1;

/*========== Font and typography ==========*/
$black-fontd: #2C2C2C;
$blue: #1C90F3;
$gray-pass: #A2A2A2;

.p-box{
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    margin: auto;
    background-color: $users-cont;
    border-radius: 20px;
    padding: 1rem;

    .p-tit {
    font-size: 18px;
    width: 50%;
    }

    .p-buttons{
        width: 50%;
        gap: 1rem;
        display: flex;
        justify-content: flex-end; 

        button {
            height: 2.2rem;
            font-size: 14px;
        }
    }

    .p-info {
        display: flex;               // Activa Flexbox para organizar los hijos en línea
        justify-content: space-between; // Espacia los elementos uniformemente
        align-items: center;         // Alinea verticalmente al centro
        gap: 20px;                   // Espacio entre los divs internos
        width: 80%;
             
        .p-alumn, .p-director, .p-sinodal {
          background-color: $cont-gray2;
          border: 1px solid #ccc;
          border-radius: 10px;
          padding: 20px;
          flex: 1;                   // Permite que los elementos se expandan uniformemente
          text-align: center;        // Centra el contenido de cada div
          
        }
      }

      .p-statu{
        width: 20%;
        margin: auto;
        display: flex;
        justify-content: center;

        button {
            height: 2.2rem;
            font-size: 14px;
        }

      }
      
}