$header-height: 4.5rem;
$body-color: #fafafb;

/*========== Colors ==========*/
$navbg-color: #f8f8f8;
$dropdown-bg-color: #fafafb;
$dropdown-hover-color: #ebebeb;
$dropdown-list-color: #f4f4f4;
$search-blue: #1c90f3;
$cont-gray: #e6e6e6;
$users-cont: #ededed;
$cont-gray2: #e1e1e1;

/*========== Font and typography ==========*/
$black-fontd: #2c2c2c;
$blue: #1c90f3;
$gray-pass: #a2a2a2;

.cont-ee {
  position: relative;

  .dropdown-ee {
    border: none;
    width: 20px;
    height: 30px;
    margin: 10px 0 0 35px;
    cursor: pointer;
    outline: none;
    background-color: transparent;
  }

  .menu-ee {
    position: absolute;
    top: 25%;
    right: 40%;
    border: 1px solid #ccc;
    border-radius: 10px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: block; //este es para que se vean
    background-color: $navbg-color;
    font: 400 12px / 18px "Poppins";

    li {
      padding: 5px 20px;
      cursor: pointer;

      &:hover {
        background-color: #f0f0f0;
        border-radius: 10px;
      }
    }
  }

  &.open {
    .menu-ee {
      display: block;
    }
  }
}
.p-box {
  display: flex;
  flex-wrap: wrap;
  width: 40%;
  margin: auto;
  background-color: $users-cont;
  border-radius: 20px;
  padding: 1rem;
  margin-top: 2%;

  .p-tit {
    font: 400 0.9rem "Poppins";
    padding-left: 2%;
    
    .p-tit-pro{
      font: 500 0.8rem "Poppins";
      min-height: 40px;          // Altura mínima de 30px
      max-height: 40px;          // Altura máxima de 40px
      overflow-y: auto;
    }
  }


  .p-buttons {
    gap: 1rem;
    display: flex;
    justify-content: flex-end;
    padding-right: 2%;

    button {
      height: 2.2rem;
      font: 500 0.7rem "Poppins";
      border-radius: 15px;
      background-color: $blue;
      color: $cont-gray;
      border: none;

      &:hover{
        background-color: #1d7ed0;
      }
    }
  }

  .p-info {
    display: flex; // Activa Flexbox para organizar los hijos en línea
    justify-content: space-between; // Espacia los elementos uniformemente
    align-items: center; // Alinea verticalmente al centro
    gap: 20px; // Espacio entre los divs internos
    width: 80%;

    .p-alumn,
    .p-director,
    .p-sinodal {
      background-color: $cont-gray2;
      border: 1px solid #ccc;
      border-radius: 10px;
      padding: 20px;
      flex: 1; // Permite que los elementos se expandan uniformemente
      text-align: center; // Centra el contenido de cada div
    }
  }

  .p-statu {
    width: 20%;
    margin: auto;
    display: flex;
    justify-content: center;

    button {
      height: 2.2rem;
      font-size: 14px;
    }
  }
}
