$body-color: #fafafb;

/*========== Colors ==========*/
$navbg-color: #f8f8f8;
$dropdown-bg-color: #fafafb;
$dropdown-hover-color: #ebebeb;
$dropdown-list-color: #f4f4f4;
$search-blue: #1c90f3;
$cont-gray: #e6e6e6;
$users-cont: #ededed;

/*========== Font and typography ==========*/
$black-fontd: #2c2c2c;
$blue: #1c90f3;
$gray-pass: #a2a2a2;


.uploaded-image {
  width: 100%;
  height: auto;
  display: block;
}
.publi-detalle {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 86vh;
  box-sizing: border-box;
  width: 100%;
  height: 100%;

  .detalle-publi {
    display: flex;
    flex-direction: column;
    background-color: $cont-gray;
    border: 1px solid #d2d2d2;
    height: 80vh;
    width: 50%;
    margin-right: 4%;
    border-radius: 20px;

    .detail-psuperior {
      width: 100%;
      height: 15vh;
      display: flex;
      padding: 0 5%;
      font: 400 0.9rem "Poppins";
      flex-direction: column;
      margin-top: 6%;

      h1,
      h2 {
        // Elimina el margen predeterminado
        padding: 0; // Elimina el padding predeterminado
        font-size: inherit; // Hereda el tamaño de fuente del contenedor
        font-weight: normal; // Cambia el grosor de fuente a normal
        line-height: inherit; // Hereda la altura de línea
        color: inherit;
      }

      h1 {
        font: 600 1.2rem "Poppins";
        margin: 0 1rem 1% 0;
      }

      .edit-inputp {
        border: none; /* Borde de color azul */
        background-color: #f3f3f3; /* Fondo ligeramente azul */
        padding: 8px;
        border-radius: 10px;
        width: 100%;
        font: 500 1rem "Poppins";

        &:focus {
          outline: none; /* Elimina el contorno */
        }
      }
    }

    .detail-pmedio {
      width: 100%;
      height: 55vh;
      padding: 0 5%;
      font: 400 0.9rem "Poppins";

      h1,
      h2 {
        // Elimina el margen predeterminado
        padding: 0; // Elimina el padding predeterminado
        font-size: inherit; // Hereda el tamaño de fuente del contenedor
        font-weight: normal; // Cambia el grosor de fuente a normal
        line-height: inherit; // Hereda la altura de línea
        color: inherit;
      }

      h1 {
        font: 600 1.2rem "Poppins";
        margin: 1rem 1rem 1rem 0;
      }

      .edit-publi {
        width: 100%;
        height: 80%;
        border: none;
        background-color: #f3f3f3;
        padding: 8px;
        border-radius: 10px;
        font: 500 0.9rem "Poppins";
        resize: none;

        &:focus {
          outline: none; /* Elimina el contorno */
        }

        &::-webkit-scrollbar {
          width: 6px; /* Ancho de la barra */
        }

        &::-webkit-scrollbar-thumb {
          background-color: $blue; /* Color del pulgar de scroll */
          border-radius: 4px; /* Bordes redondeados del pulgar */
        }

        &::-webkit-scrollbar-track {
          /* Color del fondo de la barra de scroll */
          border-radius: 4px;
        }
      }

      &:focus {
        outline: none; /* Elimina el contorno */
      }

      &::-webkit-scrollbar {
        width: 6px; /* Ancho de la barra */
      }

      &::-webkit-scrollbar-thumb {
        background-color: $blue; /* Color del pulgar de scroll */
        border-radius: 4px; /* Bordes redondeados del pulgar */
      }

      &::-webkit-scrollbar-track {
        /* Color del fondo de la barra de scroll */
        border-radius: 4px;
      }
    }
  }

  .detail-pbutton {
    display: flex;
    align-items: center;
    justify-content: right;
    margin-top: auto;
    width: 100%;

    .guardar-pu {
      background-color: $blue;
      border-radius: 20px;
      font: 400 0.8rem "Poppins";
      padding: 1% 2rem;
      margin: 1rem 4% 3% 0;
      color: $body-color;
    }
  }

  .publi-imagenes {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 40vh;
    background-color: $cont-gray;
    border: 1px solid #d2d2d2;
    border-radius: 20px;
    margin-bottom: 40vh;

    .subir-imas {
      width: 90%;
      font: 400 0.8rem "Poppins";
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 10px;

      .image-info {
        width: 70%;
        position: relative;
        display: flex;
        gap: 10px;

        .cont-pi {
          width: 80%;
          padding: 5px;
          background-color: #cbcbcb;
          border-radius: 10px;
        }

        .quitar-img {
          width: 20%;
          font: 500 0.8rem "Poppins";
          background-color: #ff9f92;
          border-radius: 10px;
          padding: 5px;
        }
      }
    }

    .boton-subirimg {
      display: flex;

      .subir-nimg {
        border-radius: 20px;
        font: 400 0.8rem "Poppins";
        padding: 5px 10px;
        border: 2px solid #cbcbcb;
      }
    }
  }
}
