/*========== General ==========*/
$header-height: 4.5rem;
$body-color: #fafafb;

/*========== Colors ==========*/
$navbg-color: #f8f8f8;
$dropdown-bg-color: #fafafb;
$dropdown-hover-color: #ebebeb;
$dropdown-list-color: #f4f4f4;
$search-blue: #1c90f3;
$cont-gray: #e6e6e6;

/*========== Font and typography ==========*/
$black-fontd: #2c2c2c;
$blue: #1c90f3;
$gray-pass: #a2a2a2;

/*========== z index ==========*/
$z-fixed: 100;

.contenedor-form {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background: linear-gradient(-45deg, #969696, #cc7acca2, #1c8ff3a6, #71acdfa1);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;

  @media (min-width: 1440px) {
    height: 88vh;
  }

  @media (max-width: 1439px) {
    height: 83vh;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}

.cont-register {
  width: 50%;
  min-width: 500px;
  max-width: 600px;
  height: auto;
  background-color: $body-color;
  border-radius: 20px;
  display: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1%;

  .title-r {
    width: 100%;
    font: 600 22px / 16px "Poppins";
    color: $blue;
    text-align: center;
    margin: 40px 0 20px 0;
  }

  .regis-fo {
    width: 100%;
    min-height: auto;
    display: flex;
    flex-direction: column;
    align-items: center; // Centra los elementos horizontalmente
    justify-content: center;

    .messg-top {
      width: 400px;
      height: auto;
      font: 400 12px "Poppins";
      text-transform: uppercase;
      margin-bottom: 2%;
    }

    .butt-next {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
      gap: 10px;

      button {
        padding: 5px 20px;
        background-color: #ebecec;
        border: 1px solid #dadada;
        border-radius: 20px;
        cursor: pointer;
        font: 500 12px "Poppins";
        color: $gray-pass;
      }

      .registrando {
        color: $blue;
      }
    }

    .flex-lg {
      display: flex;

      label {
        width: 50px;
        height: 40px;
        min-height: 25px;
        background-color: $blue;
        display: grid;
        place-content: center;
        border-radius: 10px 0 0 10px;
      }

      input,
      select {
        width: 350px;
        height: 40px;
        padding: 8px;
        border: 1px solid #e0e0e0;
        margin-bottom: 10px;
        font: 400 13px "Poppins";
        outline: none;
        border-radius: 0 10px 10px 0;
        background-color: #ebecec;

        &:focus {
          outline: none;
          box-shadow: none;
        }
      }
      .style-icon {
        color: $body-color;
        font-size: 15px;
      }

      .password-container {
        position: relative;

        input {
          padding-right: 45px; // Espacio para el icono
        }

        .password-icon {
          position: absolute;
          right: 15px;
          top: 40%;
          transform: translateY(-50%);
          cursor: pointer;
          color: $gray-pass;
        }
      }
    }

    .alerta_r {
      width: 400px;
      font: 400 12px "Poppins";
      text-align: center;
      margin-bottom: 10px;
      background-color: #f8d7da;
      border: 1px solid #f1aeb5;
      border-radius: 10px;
      padding: 10px;

      ul {
        text-align: left;
        list-style-type: circle;
      }
    }
  }
}

.aviso-doc {
  width: 500px;
  height: 50px;
  background-color: $cont-gray;
  border-radius: 20px;
  margin-top: 5px;
  display: flex;
  font: 400 12px / 16px "Poppins";
  padding: 10px 20px 10px 10px;
  text-align: justify;
  position: relative;

  .adv-icon {
    width: 30px;
    padding: 5px 15px 10px 5px;
    color: $blue;
    font-size: 18px;
  }
}

#career,
#curriculum {
  color: black;

  &:invalid {
    color: rgba(0, 0, 0, 0.5); // Placeholder text style
  }
}

/* Chrome, Safari, Edge, Opera */
#student_id::-webkit-outer-spin-button,
#student_id::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
#student_id[type="number"] {
  -moz-appearance: textfield;
}
