  /*========== General ==========*/
  $header-height: 4.5rem;
  $body-color: #FAFAFB;

  /*========== Colors ==========*/
  $navbg-color: #F8F8F8;
  $dropdown-bg-color: #FAFAFB;
  $dropdown-hover-color: #EBEBEB;
  $dropdown-list-color: #F4F4F4;
  $search-blue: #1C90F3;
  $cont-gray: #E6E6E6;

  /*========== Font and typography ==========*/
  $black-fontd: #2C2C2C;
  $blue: #1C90F3;
  $gray-pass: #A2A2A2;
 
  .cont-vers{
    width: 500px;
    height: auto;
    min-width: 500px;
    min-height: 290px;
    background-color: $body-color;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1%;
    
    .title-contra{
      width: 100%;
      font: 600 22px / 16px "Poppins";
      color: $blue;
      text-align: center;
      margin: 8% 0 7% 0;
    }

    button{
      padding: 10px 70px;
        background-color: $blue;
        border: 1px solid #dadada;
        border-radius: 20px;
        cursor: pointer;
        font: 500 15px "Poppins";
        color: $body-color;
        margin: 2% 0;
    }

    .messa-re{
      text-align: center;
  
      a:link, a:visited, a:active {
          text-decoration:none;
      }
      .reg{
          display: flex;
          font: 500 12px'Poppins';
          text-decoration:underline;
          color: #727272;
      }
    }
  }
  .validate-email-contra {
    display: flex;
    flex-direction: column;  
    align-items: center;  // Centra los elementos horizontalmente
    justify-content: center;  // Centra los elementos verticalmente
     width: 400px;

     .flex-lg {
      display: flex;
  
      label {
        width: 50px;
        height: 40px;
        min-height: 25px;
        background-color: $blue;
        display: grid;
        place-content: center;
        border-radius: 10px 0 0 10px;
      }
  
      input,
      select {
        width: 350px;
        height: 40px;
        padding: 8px;
        border: 1px solid #e0e0e0;
        margin-bottom: 10px;
        font: 400 13px "Poppins";
        outline: none;
        border-radius: 0 10px 10px 0;
        background-color: #ebecec;

        &:focus{
          outline: none;
  box-shadow: none;
        }
      }

      .style-icon {
        color: $body-color;
        font-size: 15px;
      }
    }

  

  .alerta_r{
    width: 400px;
    font: 400 12px "Poppins";
    text-align: center;
    margin-bottom: 5px;
    background-color: #f8d7da;
    border: 1px solid #f1aeb5;
    border-radius: 10px;
    padding: 10px;

    ul{
      text-align: left;
      list-style-type: circle;
    }
  }
}