$header-height: 4.5rem;
$body-color: #FAFAFB;

/*========== Colors ==========*/
$navbg-color: #F8F8F8;
$dropdown-bg-color: #FAFAFB;
$dropdown-hover-color: #EBEBEB;
$dropdown-list-color: #F4F4F4;
$search-blue: #1C90F3;
$cont-gray: #E6E6E6;
$users-cont:#EDEDED;

/*========== Font and typography ==========*/
$black-fontd: #2C2C2C;
$blue: #1C90F3;
$gray-pass: #A2A2A2;

.headprotocolo{
    width: 100%;
    flex-direction: column;
  align-items: center;
  box-sizing: border-box;

    .row-verproto{
      display: flex;
      align-items: center;
      margin-top: 2%;
    
    .tl-p{
      font: 500 1.2rem "Poppins";
      padding: 0 0 0 5%;
      width: 50%;

        a{
          cursor: pointer;
          padding-right: 2%;
        }
      }

      .col-p{
        flex: 1 0 0%;
        width: 50%;
        justify-content: center;
        align-items:center ;
        display: flex;
        gap: 6%;


        .dropdown-center{

          .btn-secondary{
            border-radius: 15px;
            font: 400 0.85rem "Poppins";
            padding: 6px 20px;
            background-color: $gray-pass;
            border: 1px solid $gray-pass;
          }
          ul{
            font: 400 0.85rem "Poppins";
            border: 1px solid #e0e0e0;
    background-color: #ebecec;
    li{
      cursor: pointer;
    }
          }
        }

        .btn-outline-primary{
          border: 1px solid $blue;
          border-radius: 15px;
          font: 400 0.85rem "Poppins";
          padding: 6px 20px;
        }
      }

    }
  }

    .list-protocol{
      display: grid;
    }